<template>
       <div>

        <div class="card mb-4">
            <div class="card-header">
                <b>CREAR NUEVA ESPECIALIDAD</b>
            </div>
            <div class="card-body">
                    <form action="#" @submit.prevent = "submit" id="createCategory">
                        <div class="form-group">
                            <label for="title"><b>Nombre de ESPECIALIDAD</b></label>
                             <input class="form-control" id="name" name="name"  type="text" placeholder="Nombre de Especialidad" v-model="form.name" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block"><b style="color:black">CREAR ESPECIALIDAD</b></button>
                    </form>
            </div>
        </div>
    </div>

</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'CreateCategory',
    data(){
        return{
            form:{
                name:'',
            },
        }
    },
    methods:{
        ...mapActions({
            create_category:'category/createCategory'
        }),
        async submit(){
            try {
                await this.create_category(this.form)
                 $('#createCategory')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                 let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
			    title: 'Error al Iniciar Sesion',
				text: msgError,
				imageUrl: 'https://unsplash.it/400/200',
				imageWidth: 300,
				imageHeight: 100,
				imageAlt: 'Custom image',
				})
                
            }
            
        }
    }
}
</script>