<template>
    <div>

        <div class="card mb-4">
            <div class="card-header">
                <b>CREAR NUEVO HISTORIAL</b> 
            </div>
            <div class="card-body">
                    <form action="#" @submit.prevent = "submit" id="createPost">
                        <div class="form-group">
                            <label for="title"><b>Nombre de la Mascota</b></label>
                             <input class="form-control" id="title" name="title"  type="text" placeholder="Nombre" v-model="form.title" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="title2"><b>Nombre del Dueño</b></label>
                             <input class="form-control" id="title2" name="title2"  type="text" placeholder="Nombre del dueño" v-model="form.title2" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="color"><b>Color de la mascota</b></label>
                             <input class="form-control" id="color" name="color"  type="text" placeholder="Color de la mascota" v-model="form.color" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="sexo"><b>Sexo</b></label>
                             <input class="form-control" id="sexo" name="sexo"  type="text" placeholder="Sexo" v-model="form.sexo" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="edad"><b>Edad</b></label>
                             <input class="form-control" id="edad" name="edad"  type="text" placeholder="Edad" v-model="form.edad" autocomplete="off">
                        </div>

                          <div class="form-group">
                            <label for="direccion"><b>Dirección</b></label>
                             <input class="form-control" id="direccion" name="direccion"  type="text" placeholder="Nombre" v-model="form.direccion" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="fecha"><b>Fecha</b></label>
                             <input class="form-control" id="fecha" name="fecha"  type="text" placeholder="Fecha" v-model="form.fecha" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="category"><b>Tipo de Especialidad Clínica</b></label>
                            <select class="form-control" id="category" name="category" v-model="form.category">
                                <option selected="true" disabled="disabled" value="">Seleccione una Especialidad</option> 
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title"><b>Foto de la Mascota</b></label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body"><b>Diagnóstico y Tratamiento</b></label>
                            <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block"><b style="color:black">CREAR HISTORIAL</b></button>
                    </form>
            </div>
        </div>
    </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                title2:'',
                color:'',
                sexo:'',
                edad:'',
                direccion:'',
                fecha:'',
                category:'',
                body:''
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))

            //console.log(formData)

            /*for(var key of formData.entries()){
                console.log(key[0] +' , ' + key[1])
            }*/
            
            let data = {
                config:config,
                formdata:formData
            }

            try {
                await this.send_create_post(data)
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
			    title: 'Error al Iniciar Sesion',
				text: msgError,
				imageUrl: 'https://unsplash.it/400/200',
				imageWidth: 300,
				imageHeight: 100,
				imageAlt: 'Custom image',
				})
            } 
        }
        },
        mounted(){
            this.get_all_categorys() 
    }
}
</script>
