<template>
    <div>

        <div class="card mb-4 my-bg-color">
            <div class="card-header">
                <b>EDITAR HISTORIAL</b>
            </div>
            <div class="card-body">
                    <form action="#" @submit.prevent = "submit">
                        <div class="form-group">
                            <label for="title"><b>Nombre de la Mascota</b></label>
                             <input class="form-control" id="title" name="title"  type="text" placeholder="Nombre" v-model="getPost.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="title2"><b>Nombre del Dueño</b></label>
                             <input class="form-control" id="title2" name="title2"  type="text" placeholder="Nombre del dueño" v-model="getPost.duenio" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="color"><b>Color de la mascota</b></label>
                             <input class="form-control" id="color" name="color"  type="text" placeholder="Color de la mascota" v-model="getPost.color" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="sexo"><b>Sexo</b></label>
                             <input class="form-control" id="sexo" name="sexo"  type="text" placeholder="Sexo" v-model="getPost.sexo" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="edad"><b>Edad</b></label>
                             <input class="form-control" id="edad" name="edad"  type="text" placeholder="Edad" v-model="getPost.edad" autocomplete="off">
                        </div>

                          <div class="form-group">
                            <label for="direccion"><b>Dirección</b></label>
                             <input class="form-control" id="direccion" name="direccion"  type="text" placeholder="Nombre" v-model="getPost.direccion" autocomplete="off">
                        </div>

                         <div class="form-group">
                            <label for="fecha"><b>Fecha</b></label>
                             <input class="form-control" id="fecha" name="fecha"  type="text" placeholder="Fecha" v-model="getPost.fecha" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="category"><b>Tipo de Especialidad Clínica</b></label>
                            <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                                <option selected="true" disabled="disabled" value="">Seleccione una Especialidad</option> 
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title"><b>Foto de la Mascota</b></label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body"><b>Diagnóstico y Tratamiento</b></label>
                            <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block"><b>EDITAR PUBLICACION </b></button>
                    </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                title2:'',
                color:'',
                sexo:'',
                edad:'',
                direccion:'',
                fecha:'',
                category:'',
                body:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){

            this.form={
                title:$('#title').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                title2:$('#title2').val(),
                color:$('#color').val(),
                sexo:$('#sexo').val(),
                edad:$('#edad').val(),
                fecha:$('#fecha').val(),
                direccion:$('#direccion').val(),
                idpost:this.getPost.id // esto para el mi propio metodo para actualizar
            }
            
            
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT') // AÑADIR PARA EL METODO POR DEFECTO PUT PARA ACTUALIZAR

            

            for(var value of formData.values()){
                console.log(value)
            }
            
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }
            await this.edit_post(data)

        },
    },
    mounted(){
            //console.log(this.$route.params.slug)
            this.get_all_categorys()
            this.get_post(this.$route.params.slug)
    }
}
</script>
