<template>
    <div>
        <NavHome :color="color"/>
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">CLÍNICA VETERINARIA MUNDO ANIMAL</h1>
                    <h2 class="text-white-100 mx-auto mt-2 mb-5" ><b style="color:#08088A">"La mirada de tu mascota es el mejor espejo donde puedes comprobar 
                        la grandeza de tu alma"</b></h2>
                </div>
            </div>
        </header>
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-black mb-4">Conosca nuestros servicios</h2>
                        <p class="text-white-50">
                            <b style="color:purple">La Clínica Veterinaria del MUNDO ANIMAL proporciona servicios veterinarios integrales de la más alta calidad.
                            Contamos con urgencias veterinarias 24 hrs.</b>
                            <a href="https://startbootstrap.com/theme/grayscale/">Tu Mascota</a>
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/images/ss.jpg" alt="" />
            </div>
        </section>
        <!-- Projects-->

        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/images/03.jpg"
                            alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 style="color:red"><b>CONSEJOS</b></h4>
                            <p style="color:#800080;"><b>1: Vacunar: Al asegurarte de que tu mejor amigo cuenta con las vacunas necesarias, le brindas protección contra infecciones, fortaleces sus defensas e incluso, previenes enfermedades que pueden afectar a otros humanos.</b></p>
                            <p style="color:#0000CD;"><b>2: Desparasitar: Lo recomendable es hacerlo cada 6 meses con antiparásitos de amplio espectro, así tu perro o gato mantendrá una adecuada digestión y lo alejará de padecimientos inoportunos.</b></p>
                            <p style="color:#48D1CC;"><b>3: Brindar dieta adecuada: Una alimentación balanceada le otorgará a tu mascota los nutrientes necesarios para crecer, desarrollarse y tener energía suficiente.</b></p>
                            <p style="color:#FFA500;"><b>4: Ofrecer un espacio adecuado: Antes de llevar a un nuevo animal a tu casa, debes asegurarte de contar con el espacio adecuado para él, así él podrá disfrutar de su nuevo hogar. Si vives en un departamento reducido, tal vez te convenga más elegir a un animal de raza pequeña que a uno de raza grande.</b></p>
                            <p style="color:#FF0000;"><b>5: Dar afecto: Los perros y los gatos tienen la capacidad de amar a sus dueños incondicionalmente, tú puedes devolver ese cariño a través de jugar con tu mascota e integrarla a las actividades familiares, así se fortalece la confianza en los animales.</b></p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/8.png"  alt="" /></div>
                    <div class="col-lg-6"><img class="img-fluid" src="/images/g.jpg"  alt="" /></div>
                    <div class="col-lg-6">
                        <div>
                            <div class="d-flex h-1000">
                                <div>
                                    <h4 style="color:#FF0080;"><b>SERVICIOS CLÍNICOS</b></h4>
                                    <p style="color:#000000;"><b>Somos un equipo medico  especializado con mas de 25 años de experiencia en el área veterinaria dedicada a pequeñas especies, con una certificación otorgada por el Veterinary Emergency and critical Care Society (USA), y Latino American Veterinary and Critical Care Society. Contamos con equipo e instalaciones de ultima tecnología, necesarios para brindarle a tu mascota el mejor servicio.</b></p>
                                    <p style="color:#000000;"><b>Se considera una urgencia cualquier evento que pone en riesgo la vida de nuestras mascotas, tales eventos pueden ser:</b></p>
                                    <p style="color:#0040FF"><b>° Traumatismos : (atropellamiento, caídas de azoteas, escaleras, mordidas,baleados, quemaduras, trauma ocular, etc.)</b></p>
                                    <p style="color:#0040FF"><b>° Intoxicaciones : (ingestión de venenos, anticongelantes,mordidas de animales ponzoñosos, detergentes, plantas, drogas, medicamentos, etc.)</b></p>
                                    <p style="color:#0040FF"><b>° Complicaciones al parto : (cesárea )</b></p>
                                    <p style="color:#0040FF"><b>° Transtornos gastrointestinales de urgencia : (diarreas con sangre, dilatación gastrica, vómito recurrente, ingesta de objetos: pelotas, agujas, huesos, cuchara etc.)</b></p>
                                    <p style="color:#0040FF"><b>° Pacientes convulsivos</b></p>
                                    <p style="color:#0040FF"><b>° Dificultad respiratoria</b></p>
                                    <p style="color:#0040FF"><b>° Paciente con enfermedad cardíaca descompensada, desmayos.</b></p>
                                    <p style="color:#0040FF"><b>° Dolor agudo</b></p>
                                    <p style="color:#0040FF"><b>° Dificultad para orinar</b></p>
                                    <p style="color:#0040FF"><b>° Reacciones alérgicas</b></p>
                                    <p style="color:#0040FF"><b>° Hemorragias</b></p>
                                    <p style="color:#0040FF"><b>° Cada minuto cuenta…..</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/jj.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 style="color:#FF0080;"><b>PREVENCIÓN Y CUIDADO</b></h4>
                                    <p style="color:#0040FF"><b>-> Consulta General</b></p>
                                    <p style="color:#0040FF"><b>-> Consulta Especializada</b></p>
                                    <p style="color:#0040FF"><b>-> Consulta a domicilio</b></p>
                                    <p style="color:#0040FF"><b>-> Reserva de atención</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email"
                                placeholder="Enter email address..." />
                            <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (555) 902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return{
            color:'pink'
        }
    },
    components:{NavHome},
}
</script>
