
<template>

  <div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/imag.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form  action="#" @submit.prevent = "submit">
					<span class="login100-form-title p-b-59">
						<b style="color: purple;">REGISTRAR</b>
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required" >
						<span class="label-input100"><b style="color:black">Nombre</b></span>
						<input class="input100" type="text" name="name" placeholder="Name" v-model="form.name" autocomplete="off">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Type user name">
						<span class="label-input100"><b style="color: black;">Correo Electrónico</b></span>
						<input id="email" class="input100" type="email" name="email"  placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Password"  autocomplete="off"> 
						<span class="input100"><b style="color: black;">Contraseña</b></span>
						<input class="input100" type="password" name="password" id="Password"  placeholder="Password" v-model="form.password"  autocomplete="off"> 
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password"  autocomplete="off"> 
						<span class="input100"><b style="color: black;">Confirmar Contraseña</b></span>
						<input class="input100" type="password" name="password_confirmation" id="password_confirmation"  placeholder="Password" v-model="form.password_confirmation"  autocomplete="off" > 
						<span class="focus-input100"></span>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							
						</div>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<b style="color:pink">Registar</b>
							</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
   methods:{
        ...mapActions({
            signUp:'auth/signUp'
        }),
        async submit(){
            await this.signUp(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>

