<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<template>
<div>
	<NavHome  :color="color"/>
  <div class="limiter" >
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/jj.jpg');"></div>
	
			<div class="wrap-login100 p-l-50 p-r-50 p-t-150 p-b-50">
				<form class="login100-form validate-form" @submit.prevent = "submit"> 
					<span class="login100-form-title p-b-59">
						<b style="color: purple;">INICIO DE SESIÓN</b>
					</span>

					<div class="wrap-input100 validate-input" data-validate="Type user name">
						<span class="label-input100"><b style="color: black;">Correo Electrónico</b></span>
						<input id="email" class="input100" type="email" name="email"  placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password"  autocomplete="off"> 
						<span class="input100"><b style="color: black;">Contraseña</b></span>
						<input class="input100" type="password" name="password" id="Password"  placeholder="Password" v-model="form.password"  autocomplete="off"> 
						<span class="focus-input100"></span>
					</div>

				

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<b style="color: purple;">Iniciar Sesión</b>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
  
</template>



<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
	name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
			},
			color:'pink'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){

			try{
				await this.signIn(this.form)
                this.$router.replace({name:'dashboard.post'})
			}catch(error){
				let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
			    title: 'Error al Iniciar Sesion',
				text: msgError,
				imageUrl: 'https://unsplash.it/400/200',
				imageWidth: 400,
				imageHeight: 200,
				imageAlt: 'Custom image',
				})
			} 
        }
    }
}
</script>
